body, .result-block, .icon-data .data {
	background: linear-gradient(to bottom right,#548687,#8fbc94);

}

body {
	transition:0.3s all ease-in-out;
}

html {
  scroll-behavior: smooth;
}

hr {
	margin-top:.2rem;
	margin-bottom:.2rem;
}

.watermark {
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
	color:white;
	font-size:14px;
	margin:15px 15px 0 0;
}

.main {
	margin:2.5% 5% 5% 5%;
	background:white;
	padding:5%;
	border-radius:5px;
	transition:all .5s ease-in-out;
}


.label_hypothesis {
	display: inline-flex;
	max-width:60%;
}

input {
	border-radius: 10px;
	padding:5px;
}

.label_hypothesis,input {
	margin:10px 0 10px 0;
	vertical-align: middle;
}

.input_block {

	min-width:25%;
	max-width:40%;
	float:right;
	display:flex;
	align-items: center;
}

input[type=number] {
	-webkit-appearance:textfield;
	text-align:right;
	width:100%;
}

input[type=submit]  {
	width:auto;
	margin:15px;
}

input[type=range]  {
	width:60%;
	margin-left:10%;
}

output{
	margin:0;
	margin-left:15%;
	line-height: initial!important;
	font-size:initial!important;
	padding:initial!important;
}

.input_block { 
	position: relative;
}

.input_block input[type=number] {
	text-indent: 30px;
}

.input_block .post-symbol { 
	position: absolute;
	left:15px;
}


.title_parts:after {
	box-shadow: #8fbc94 0 -20px 0 0;
	height: 20px;
	width: 95px;
	content: '';
	display: block;
}

.subtitle {
	color: #8fbc94;
}


.align-justify {
	display: flex;
    align-items: center;
    justify-content: center;
}


.number {
	background: #8fbc94;
	color: #fff;
	height: 25px;
	width: 25px;
	display: inline-block;
	font-size: 70%;
	margin-right: 4px;
	line-height: 25px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.table td:nth-child(2) {
	text-align: right;
	min-width:30%;
}

#btn-export {
	margin-bottom:10px;
}

.table td {
	padding:.25rem!important
}

.blockchart {
	padding:0 5% 0 5%;
}


.result-block {
	padding:10px;
	border-radius:25px;
}

.result-block .data {

	white-space: nowrap
}


.result-block span, .result-block h4 {
	color:white;
}

.label {
	text-transform: uppercase;
	text-align: center;
}

.data {
	font-size:1.3rem;
	
	font-weight:bold;
}


.icon-info {
	margin-right: 5px;
	color:#8fbc94;
	background: white;
	border-radius:50%;
	width: 25px;
	height: 25px;
	padding: 5px;
}

.icon-data .data {
	color:white;
	border-radius:25px;
	padding:5px 20px 5px 20px;
	text-align: center;
}

.icon-data .fa {
	font-size:3rem;
}

.icon-data h4, .icon-data .fa  {
	background: -webkit-linear-gradient(90deg,#548687,#8fbc94);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.piechart {
	max-width:300px;
}

.div-submit {
	display:flex;
	align-items: center;
}

#loader-spin {
	display:none;
}



@media (max-width:600px) {

	.input_block,.label_hypothesis {
		max-width:initial;
		width:100%;
		float:initial;
	}

	.table td:nth-child(2) {	
		min-width:25vw;
	}

	h1,h2,h3 {
		font-size: 1.5rem!important
	}

	label,p,input,tr,td,th,button {
		font-size: .8rem!important;
	}
}

